<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="WebDevConnectionString" value="********" />
    <add key="LTSSUserName" value="********" />
    <add key="LTSSPassword" value="********" />
    <add key="CenterUserName" value="********" />
    <add key="CenterPassword" value="********" />
    <add key="LTSSEndpoint" value="https://********/LTSSReferralManagementService" />
    <add key="CenterSSLCertThumbprint" value="********" />
    <add key="CenterEndpoint" value="https://********" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment  minFreeMemoryPercentageToActivateService="1">
      <serviceActivations>
        <add relativeAddress="LTSSWebService.SendReferralService.svc" service="LTSSWebService.SendReferralService" factory="DigestPasswordNS.DigestPasswordServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.net>
    <defaultProxy enabled="false">
    </defaultProxy>
  </system.net>
</configuration>